/**Radhika Mattoo, radhika095@gmail.com**/
/**Both circles**/
#block-yui_3_17_2_1_1614895594688_72654, #block-yui_3_17_2_1_1614895594688_80952{
	min-width: 300px;
	min-height: 300px;
	width: 33%;
	height: 33%;
	border-radius: 50%;
	background-color: #fef9f5;
	box-shadow: 0 0 10px 2px black !important;
	border: 3px solid black;
}

/* regular desktop screen */
@media only screen and (min-width: 1200px){
  #block-yui_3_17_2_1_1614895594688_72654 {
		margin-left: 30%;
	}
}
/* small desktop screens */
@media only screen and (max-width: 815px){
  #block-yui_3_17_2_1_1614895594688_72654, #block-yui_3_17_2_1_1614895594688_80952 {
		margin-left: 23%;
		margin-top: 10%;
	}
}

/* mobile */
@media only screen and (max-width: 500px){
  #block-yui_3_17_2_1_1614895594688_72654, #block-yui_3_17_2_1_1614895594688_80952 {
		margin-left: 0px;
		margin-top: 10%;
	}
}
